<!DOCTYPE html>
<html lang = "en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- CSS only -->
    <body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="static/styles/base.css"><link rel="stylesheet" href="static/styles/base.css">
<style>
<img class = img {
    max-width:90%; 
    max-height:195%; }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>       
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <style>

</style>

{% comment %} <nav class= 'navbar navbar-expand-sm nab=vbar-light bg-light'>
    <div class="navbar-nav">
        <a class = "nav-item nav-link" href= "{% url 'index' %}" >Home</a>
        <a class = "nav-item nav-link" href= "{% url 'shirts' %}" >Shirts</a>
        <a class = "nav-item nav-link" href= "{% url 't_shirts'%}" >T-Shirts</a>
        <a class = "nav-item nav-link" href= "{% url 'sweaters'%}" >Sweaters</a>
        <a class = "nav-item nav-link" href= "{% url 'blazers'%}" >Blazers</a>
        <a class = "nav-item nav-link" href= "{% url 'upload'%}" >Sell Item</a>
        <a class = "nav-item nav-link" href= "{% url 'checkout'%}" >Buy/Checkout</a>
    </nav> {% endcomment %}
    {%block content%}


    {%endblock%}
</body>
</html>