{%extends "base.html" %}

{% block content%}

<html>
<link rel="stylesheet" href="static/styles/index.css">
    
<body>
<div class= "jumbotron">
     <h1> Welcome to Tim's Thrift Shop </h1>
     <p> -a place where we can buy and sell clothing</p>
        
    </div>
    <nav class= 'navbar navbar-expand-sm nab=vbar-light bg-light'>
        <div class="navbar-nav">
            <a class = "nav-item nav-link" href= "{% url 'index' %}" >Home</a>
            <a class = "nav-item nav-link" href= "{% url 'shirts' %}" >Shirts</a>
            <a class = "nav-item nav-link" href= "{% url 't_shirts'%}" >T-Shirts</a>
            <a class = "nav-item nav-link" href= "{% url 'sweaters'%}" >Sweaters</a>
            <a class = "nav-item nav-link" href= "{% url 'blazers'%}" >Blazers</a>
            <a class = "nav-item nav-link" href= "{% url 'upload'%}" >Sell Item</a>
            <a class = "nav-item nav-link" href= "{% url 'checkout'%}" >Buy/Checkout</a> 
        </nav>
</body>
{%endblock%}

</html>

